<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/heading :: heading">


</head>
<body>
<a th:href="${link}">Sign in to coinbase</a>

<main class="mdl-layout__content">
    <div class="mdl-tabs__tab-bar">
        <a href="#orders-panel" class="mdl-tabs__tab is-active">Orders</a>
        <a href="#trades-panel" class="mdl-tabs__tab">Trades</a>
    </div>
    <div class="mdl-tabs__panel is-active" id="orders-panel">
    <div th:replace="fragments/public/orders :: showOrders (aggregate_map=${data.agg_map},asks=${data.asks},bids=${data.bids})"></div>
    </div>

    <div class="mdl-tabs__panel" id="trades-panel">
        <div th:replace="fragments/public/trades :: showTrades (buys=${trades.buys},sells=${trades.sells},aggregate=${trades.aggregate})"></div>
    </div>

</main>
</body>

</html>
