<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/heading :: heading">


</head>
<body>
<a th:href="${link}">Sign in to coinbase</a>

<main class="mdl-layout__content">


    <div  style="width:100%;">
       Aggregate
        <table border="1">
            <head>
                <th>ask_total</th>
                <th>bid_total</th>
                <th>ask_avg</th>
                <th>bid_avg</th>
                <th>ask_count/th>
                <th>bid_count</th>
                <th>ask_size</th>
                <th>bid_size</th>
            </head>
            <tbody>
            <tr>
                <td th:text="${data.agg_map.ask_total}"></td>
                <td  th:text="${data.agg_map.bid_total}"></td>
                <td th:text="${data.agg_map.ask_avg}"></td>
                <td  th:text="${data.agg_map.bid_avg}"></td>
                <td th:text="${data.agg_map.ask_count}"></td>
                <td  th:text="${data.agg_map.bid_count}"></td>
                <td th:text="${data.agg_map.ask_size}"></td>
                <td  th:text="${data.agg_map.bid_size}"></td>

            </tr>
            </tbody>
        </table>

    </div>


=81.0, ask_total=332553.56, bid_count=52.0, bid_avg=4105.5996
    <div style="width:100%;display:inline-flex">
        <div  style="width:48%;">
            ASKS
            <table>
                <head>
                <th>Price</th>
                <th>Size</th>
                <th>Count</th>
                </head>
                <tbody>
                <tr th:each="asks:${data.asks}">
                    <td th:text="${asks.price}"></td>
                    <td th:text="${asks.size}"></td>
                    <td th:text="${asks.count}"></td>
                </tr>
                </tbody>
            </table>

        </div>

        <div  style="width:48%;">
            BIDS
            <table>
                <head>
                    <th>Price</th>
                    <th>Size</th>
                    <th>Count</th>
                </head>
                <tbody>
                <tr th:each="bids:${data.bids}">
                    <td th:text="${bids.price}"></td>
                    <td th:text="${bids.size}"></td>
                    <td th:text="${bids.count}"></td>
                </tr>
                </tbody>
            </table>

        </div>


    </div>

    <!--<div th:text="${trades}"></div>-->
    <!--<table class="mdl-data-table mdl-js-data-table mdl-data-table--selectable mdl-shadow--2dp">
        <thead>
        <tr>
            <th>Products</th>
        </tr>
        </thead>
        <tbody id="dataTable">
        <tr th:each="list:${orders}">
            <td><p th:text="${list}"></p></td>

        </tr>

        </tbody>
    </table>-->




    <!--<table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp">
        <thead>
        <tr>
            <th>Pairs</th>
            <th>Bid</th>
            <th>Ask</th>
            <th>Spread</th>
            <th>Min Value</th>
            <th>Max Value</th>
        </tr>
        </thead>
        <tbody id="dataTable">
        <tr th:each="list:${data}">
            <td><a th:href="|/orders/${list.pair}|" th:text="${list.pair}" th:id="|pair_${list.pair}|"></a></td>
            <td><p th:id="|bid_${list.pair}|" th:text="${list.bid_price}"></p></td>
            <td><p th:id="|ask_${list.pair}|" th:text="${list.ask_price}"></p></td>
            <td><p th:id="|spread_${list.pair}|" th:text="${list.spread}"></p></td>
            <td><p th:id="|min_${list.pair}|" th:text="${list.min_quote}"></p></td>
            <td><p th:id="|max_${list.pair}|" th:text="${list.max_quote}"></p></td>

        </tr>

        </tbody>
    </table>-->

</main>
</body>
<script type="text/javascript">
if (!window.EventSource) {
console.log("Event source available");

var source = new EventSource('/pro/products/level1');

source.addEventListener('message', function(e) {
    console.log("message");
    console.dir(e.data);
    editTableData(e.data);

});

source.addEventListener('open', function(e) {
console.log("Connection was opened.");
}, false);

source.addEventListener('error', function(e) {
if (e.readyState == EventSource.CLOSED) {
    console.dir(e);
console.log("Connection was closed.");
} else {
console.log(e.readyState);
}
}, false);
} else {
console.log("No SSE available");
}

function editTableData(input){
    var html = "";
    var data = JSON.parse(input);
    for(var i=0;i<data.length;i++){
        var date = new Date();
        var pair = data[i].pair;
        var pair_tag = "pair_"+pair;
        var bid_tag = "bid_"+pair;
        var ask_tag = "ask_"+pair;
        var spread_tag = "spread_"+pair;
        var min_tag = "min_"+pair;
        var max_tag = "max_"+pair;

        var pair_ele = document.getElementById(pair_tag);
        pair_ele.innerHTML = pair+": "+date.getTime();


        var bid_ele = document.getElementById(bid_tag);
        var ask_ele = document.getElementById(ask_tag);
        var spread_ele = document.getElementById(spread_tag);
        var min_ele = document.getElementById(min_tag);
        var max_ele = document.getElementById(max_tag);

        bid_ele.innerHTML = data[i].bid_price;
        ask_ele.innerHTML = data[i].ask_price;
        spread_ele.innerHTML = data[i].spread;
        min_ele.innerHTML = data[i].min_quote;
        max_ele.innerHTML = data[i].max_quote;



    }
}

</script>
</html>
